.wrapper {
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  display: flex;
  width: 100%;
}

.thTextAlign {
  text-align: end;
  padding-bottom: 20px;
  font-size: large;
}

.p {
  margin: 0;
}

.cell1 {
  word-break: break-word;
  width: 350px;
}

.cell2 {
  word-break: break-word;
}

.btnWrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.btnSave {
  margin-top: 20px;
  width: 159px;
  height: 27px;
  cursor: pointer;
}

@media screen and (max-width: 575px) {
  .cell1 {
    width: 150px;
  }

  .p {
    margin: 0;
    font-weight: 450;
    line-height: 1.2;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .cell1 {
    width: 165px;
  }

  .p {
    margin: 0;
    font-weight: 500;
    line-height: 1.2;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .cell1 {
    width: 165px;
  }

  .p {
    margin: 0;
    font-weight: 500;
    line-height: 1.2;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .cell1 {
    width: 220px;
  }
}
